# This provides an optional environment to develop and check the Python
# scripts by git pre-commit hooks.  See file `.pre-commit-config.yaml`
# of this project for additional details.  The update of the molecules'
# cluster labels ("the normal use of the script") remains independent
# of these packages hosted on PyPI.

pre-commit
black
flake8
pytest
tox

# After completing the setup of your virtual environment, the command
#
#    pre-commit install
#
# updates your local `.git/hooks folder`.  Checks by the pre-commit
# hook then can be launched by `git-precommit run --all-files`, or
# by `git-precommit run --file example.py` (to probe only `example.py`).
